* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
}

.main-container {
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
}

nav button {
    background-color: #A0A0A0;
    border: 2px solid #707070;
    border-radius: 4px;
    box-shadow: 0px 3px 1px #707070;
    color: white;
    padding: 8px 16px;
    text-align: center;
    margin: 10px;
    font-size: medium;
    font-family: inherit;
}

#tools button {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    margin: 10px;
    padding: 10px;
}

#tools button img {
    height: 50px;
    width: 50px; 
} 

.board {
    display: grid;
    grid-template-columns: repeat(41, 50px);
    grid-template-rows: repeat(24, 50px);
    grid-area: ;
}
